body{
	background-color: rgb(247, 230, 254);
}
.img{
	width: 240px;
	height: 180px;
	float: left;
	
}
.two{
	float: left;
	background-color: white;
	border: 1px solid gray;
	padding: 20px;
	
}
.all{
	width: 700px;
	margin: 0 auto;
	padding: 20px;
	
	
}